/NUnitTestProj/.vs/NUnitTestProj/DesignTimeBuild/.dtbcache.v2
/NUnitTestProj/.vs/NUnitTestProj/FileContentIndex/22b6ce15-480c-456e-954c-99227fd727ea.vsidx
/NUnitTestProj/.vs/NUnitTestProj/FileContentIndex/eb0b3029-2b25-47df-9d74-7389c3747276.vsidx
/NUnitTestProj/.vs/NUnitTestProj/DesignTimeBuild/.dtbcache.v2
/NUnitTestProj/.vs/NUnitTestProj/FileContentIndex/22b6ce15-480c-456e-954c-99227fd727ea.vsidx
/NUnitTestProj/.vs/NUnitTestProj/FileContentIndex/dc023a9c-ea5a-411f-a72d-fa2d834c5793.vsidx
/NUnitTestProj/.vs/NUnitTestProj/DesignTimeBuild/.dtbcache.v2
/NUnitTestProj/.vs/NUnitTestProj/FileContentIndex/22b6ce15-480c-456e-954c-99227fd727ea.vsidx
/NUnitTestProj/.vs/NUnitTestProj/FileContentIndex/d8ca8acf-d06b-49a2-9a9a-09e621ea30bf.vsidx
/NUnitTestProj/.vs/NUnitTestProj/DesignTimeBuild/.dtbcache.v2
/NUnitTestProj/.vs/NUnitTestProj/FileContentIndex/22b6ce15-480c-456e-954c-99227fd727ea.vsidx
/NUnitTestProj/.vs/NUnitTestProj/FileContentIndex/cfb8b28c-b3c6-4574-b54f-0b569405965b.vsidx
/NUnitTestProj/.vs/NUnitTestProj/DesignTimeBuild/.dtbcache.v2
/NUnitTestProj/.vs/NUnitTestProj/FileContentIndex/22b6ce15-480c-456e-954c-99227fd727ea.vsidx
/NUnitTestProj/.vs/NUnitTestProj/FileContentIndex/cfb8b28c-b3c6-4574-b54f-0b569405965b.vsidx
/NUnitTestProj/.vs/NUnitTestProj/FileContentIndex/60254e21-a337-403f-9d05-b7b37b51e525.vsidx
/NUnitTestProj/.vs/NUnitTestProj
/NUnitTestProj/.vs/NUnitTestProj
/NUnitTestProj/.vs/NUnitTestProj
/NUnitTestProj/.vs/NUnitTestProj
